* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Times New Roman", Times, serif;
}

h1 {
    margin-bottom: 20px;
    font-size: 3rem;
}

.container {
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 20px;
    max-width: 50%;
}

.wrapper {
    padding: 2rem;
}

.editPhoto {
    display: flex;
    gap: 2.6rem;
    position: relative;
    margin-bottom: 4rem;
}

.edit {
    position: relative;
    bottom: -21px;
    height: 45px;
    align-self: center;
    width: 134px;
    padding: 0.8rem 1.33rem;
    border-radius: 15px;
    border: 1px #eee solid;
    background-color: black;
    cursor: pointer;
    transition: 0.2;
    -webkit-transition: 0.2s ease-in-out;
    -webkit-transition: 0.2;
    color: white;
    font-size: 1rem;
}

.editPhoto .edit {
    position: absolute;
    bottom: 60px;
    left: 243px;
}

.fullName {
    font-size: 2rem;
    margin-top: 3rem;
}

.editPhoto img {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border: 2px solid white;
    cursor: pointer;
    box-shadow: 0px 13px 36px -15px #ff97ca;
}

    .editPhoto img:hover {
        opacity: 0.8;
    }

#photo {
    display: none;
}

label {
    display: block;
    font-size: 1.5rem;
    margin-bottom: 10px;
}

input {
    width: 100%;
    padding: 10px 15px;
    font-size: 1.4rem;
}

.input {
    width: 40%;
}

.pass,
.email {
    display: flex;
    gap: 30px;
    margin-bottom: 50px;
}
