
@{
    ViewData["Title"] = "Accept";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
          <h1>
            General Form Elements
            <small>Preview</small>
          </h1>
          <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a href="#">Forms</a></li>
            <li class="active">General Elements</li>
          </ol>
        </section>

        <!-- Main content -->
        <section class="content">
          <div class="row">
            <!-- left column -->
            
            <!-- right column -->
            <div class="col-md-6">
              <!-- general form elements disabled -->
              <div class="box box-warning">
                <div class="box-header">
                  <h3 class="box-title">General Elements</h3>
                </div><!-- /.box-header -->
                <div class="box-body">
                   <form role="form" method="post" asp-action="Accept" asp-controller="Admin">
                            <div class="form-group">
                                <select class="form-control" name="Status" id="Status">
                                    <option>Select Status</option>
                                    <option value="Accept">Accept</option>
                                </select>
                               
                   </div>
                   <div>
                                <input type="submit" value="Save" />
                   </div>

                

                  </form>
                </div><!-- /.box-body -->
              </div><!-- /.box -->
            </div><!--/.col (right) -->
          </div>   <!-- /.row -->
        </section><!-- /.content -->
      </div>
@*<div class="container" style="margin:5% 20%;">
    <form method="post" asp-action="Accept" asp-controller="Admin">
        <select name="Status" id="Status">
            <option>Select Status</option>
            <option value="Accept">Accept</option>
        </select>
        <input type="submit" value="Save"/>
    </form>
</div>*@

