@{
    ViewData["Title"] = "Accept";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container" style="margin:5% 20%;">
    <form method="post" asp-action="Accept" asp-controller="Admin">
        <select name="Status" id="Status">
            <option>Select Status</option>
            <option value="Accept">Accept</option>
        </select>
        <input type="submit" value="Save" />
    </form>
</div>